@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


::-webkit-scrollbar{
  display: none;
}



body {
  font-family: "Inter", sans-serif;
}

@keyframes brand-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-brand-scroll {
  animation: brand-scroll 30s linear infinite;
}

.animate-brand-scroll:hover {
  animation-play-state: paused;
}